<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <button type="button" class="btn btn-primary" (click)="onContactClick()">contacts</button>
    <button type="button" class="btn btn-primary" (click)="onTopicClick()">topics</button>
    <button type="button" class="btn btn-primary" (click)="onMessageClick()">messages</button>
    <button type="button" class="btn btn-primary" (click)="onFeedbackClick()">feedbacks</button>
    <button type="button" class="btn btn-primary" (click)="onNewClick()">new</button>
    <label>  selected = {{type}}</label>
</div>

<!--contacts-->
<div *ngIf="type == 'contacts'">
    <table class="table table-dark table-striped" *ngIf="contacts.length > 0">
        <thead>
        <tr>
            <td class="col">id</td>
            <td class="col">name</td>
            <td class="col">email</td>
            <td class="col">telephne</td>
            <td class="col">message ids</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.id}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.telephone}}</td>
            <td>{{contact.messageIds}}</td>
        </tr>
        </tbody>
    </table>
    <label *ngIf="contacts.length == 0">contacts empty</label>
</div>

<!--topics--> 
<div *ngIf="type == 'topics'">
    <table class="table table-striped" *ngIf="topics.length > 0">
        <thead>
        <tr>
            <td class="col">id</td>
            <td class="col">name</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let topic of topics">
            <td>{{topic.id}}</td>
            <td>{{topic.name}}</td>
        </tr>
        </tbody>
    </table>
    <label *ngIf="topics.length == 0">topics empty</label>
</div>

<!--messages-->
<div *ngIf="type == 'messages'">
    <table class="table table-striped" *ngIf="messages.length > 0">
        <thead>
        <tr>
            <td class="col">id</td>
            <td class="col">text</td>
            <td class="col">contact id</td>
            <td class="col">message id</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages">
            <td>{{message.id}}</td>
            <td>{{message.text}}</td>
            <td>{{message.contactId}}</td>
            <td>{{message.topicId}}</td>
        </tr>
        </tbody>
    </table>
    <label *ngIf="messages.length == 0">messages empty</label>
</div>

<!--feedbacks-->
<div *ngIf="type == 'feedbacks'">
    <table class="table table-dark table-striped" *ngIf="feedbackResponses.length > 0">
        <thead>
        <tr>
            <td class="col">contact.id</td>
            <td class="col">contact.name</td>
            <td class="col">contact.email</td>
            <td class="col">contact.telephone</td>
            <td class="col">contact.messageIds</td>
            <td class="col">topic.id</td>
            <td class="col">topic.name</td>
            <td class="col">message.id</td>
            <td class="col">message.text</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let feedback of feedbackResponses">
            <td>{{feedback.contact.id}}</td>
            <td>{{feedback.contact.name}}</td>
            <td>{{feedback.contact.email}}</td>
            <td>{{feedback.contact.telephone}}</td>
            <td>{{feedback.contact.messageIds}}</td>
            <td>{{feedback.topic.id}}</td>
            <td>{{feedback.topic.name}}</td>
            <td>{{feedback.message.id}}</td>
            <td>{{feedback.message.text}}</td>
        </tr>
        </tbody>
    </table>
    <label *ngIf="feedbackResponses.length == 0"></label>
</div>

<!--new-->
<div *ngIf="type == 'new'">
    <form [formGroup]="form" novalidate>
        <h1>Feedback</h1>
        <div class="form-group">
            <label>Name:
                <input class="form-control" type="text" placeholder="Name"
                       [(ngModel)]="feedbackRequest.contact.name" formControlName="contact.name"/>
            </label>
            <label *ngIf="form.controls['contact.name'].invalid && form.controls['contact.name'].touched">
                name must be not empty
            </label>
        </div>
        <div class="form-group">
            <label>Email:
                <input class="form-control" type="email" placeholder="Email" 
                       [(ngModel)]="feedbackRequest.contact.email" formControlName="contact.email"/>
            </label>
            <label *ngIf="form.controls['contact.email'].invalid && form.controls['contact.email'].touched">
                email must be not empty and match with pattern 'email'
            </label>
        </div>
        <div class="form-group">
            <label>Telephone:
                <input class="form-control" type="tel" placeholder="telephone"
                       [(ngModel)]="feedbackRequest.contact.telephone" formControlName="contact.telephone"/>
            </label>
            <label *ngIf="form.controls['contact.email'].invalid && form.controls['contact.email'].touched">
                telephone must be not empty and match with pattern russian 'telephone'
            </label>
        </div>
        <div class="form-group">
            <label>Topic:
                <select class="form-control" (change)="onSelectedChange($event)">
                    <option disabled selected value>choose topic</option>
                    <option *ngFor="let topic of topics">
                        {{topic.name}}
                    </option>
                </select>
            </label>
            <label *ngIf="form.controls['topic.name'].invalid && form.controls['topic.name'].touched">
                topic must be not empty
            </label>
        </div>
        <div class="form-group">
            <label>Message:
                <textarea class="form-control" type="text" placeholder="message"
                       [(ngModel)]="feedbackRequest.message.text" formControlName="message.text"></textarea>
            </label>
            <label *ngIf="form.controls['message.text'].invalid && form.controls['message.text'].touched">
                message must be not empty
            </label>
        </div>
        <div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" [disabled]="form.invalid" (click)="onSendFeedbackClick()">send</button>
        </div>
    </form>
</div>

</body>
</html>