################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.idea/**
/.vs/**
/WebAPI/bin
/WebAPI/bin/**
/WebAPI/obj
/WebAPI/obj/**
/WebAPI/ClientApp/node_modules
/WebAPI/ClientApp/dist

