################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.WebAPI/.idea
/.vs/WebAPI
/WebAPI/bin/Debug/net5.0
/WebAPI/ClientApp/node_modules
/WebAPI/obj
