################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.idea/**
/.vs/**
/WebAPI/bin
/WebAPI/bin/**
/WebAPI/obj
/WebAPI/obj/**
/WebAPI/ClientApp/node_modules
/WebAPI/ClientApp/dist
/WebAPI/wwwroot/**
/WebAPI/ClientApp/src/*.js
/WebAPI/ClientApp/src/app/*.js
/WebAPI/ClientApp/src/app/models/*.js
/WebAPI/ClientApp/src/app/models/request/*.js
/WebAPI/ClientApp/src/app/models/response/*.js
/WebAPI/ClientApp/src/app/services/*.js

